<a href="https://colab.research.google.com/github/yash-clear/Web-Scrapping-and-Machine-Learning/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem 1

##Write a web scraping script which takes an input of any film actor and gives the output of filmography of that actor in descending order.

In [76]:
!pip install requests --upgrade  --quiet 
import requests

In [77]:
Filmography_url = 'https://en.wikipedia.org/wiki/Category:Indian_filmographies'
response = requests.get(Filmography_url)

In [78]:
response.status_code

200

In [79]:
page_contents = response.text

In [80]:
with open('webpage.html','w') as f: 
    f.write(page_contents)

In [81]:
!pip install beautifulsoup4 --upgrade  --quiet 
from bs4 import BeautifulSoup
doc = BeautifulSoup(page_contents, 'html.parser')  #Now 'doc' contains entire html in parsed format

In [82]:
title = doc.find('title')
title

In [83]:
# This is to get the name of actors/actress.

a_tags = doc.find_all('a',{'class': None})
len(a_tags)

260

In [84]:
titles_a_tag = []
for tag in a_tags:
    if 'filmography' in tag.text:
        titles_a_tag.append(tag['title'].replace('filmography',''))
titles_a_tag[:5]

['John Abraham ',
 'Kajal Aggarwal ',
 'Samantha Ruth Prabhu ',
 'Ali ',
 'Zeenat Aman ']

In [85]:
# Now we need to fetch the URL's of all the filmographies
# I have taken all the filmographies url which has "filmography" in all of them.
link_a_tag = []
for tag in a_tags:
    if 'filmography' in tag.text:
        link_a_tag.append(tag['href'])
link_a_tag[:10]

['/wiki/John_Abraham_filmography',
 '/wiki/Kajal_Aggarwal_filmography',
 '/wiki/Samantha_Ruth_Prabhu_filmography',
 '/wiki/Ali_filmography',
 '/wiki/Zeenat_Aman_filmography',
 '/wiki/Ambareesh_filmography',
 '/wiki/Dev_Anand_filmography',
 '/wiki/Anil_Panachooran_filmography',
 '/wiki/Ramesh_Aravind_filmography',
 '/wiki/Allu_Arjun_filmography']

In [86]:
# To get the full link we need to give the "Base URL" which is given below
Filmography0_url = "https://en.wikipedia.org/"+ link_a_tag[0]
Filmography0_url # This is the first URl.

'https://en.wikipedia.org//wiki/John_Abraham_filmography'

In [ ]:
# WE need to loop over to get all the URl's
Filmography_urls = []

for i in range(len(link_a_tag)):
    
    Filmography_urls.append("https://en.wikipedia.org/"+ link_a_tag[i])

In [88]:
!pip install pandas --upgrade --quiet    #Installing Pandas Library
import pandas as pd

In [89]:
Filmography_dict = {
    'Actor/Actress_Name' : titles_a_tag,
    'Url_Of_Profiles': Filmography_urls,
}

In [90]:
Filmography_df = pd.DataFrame(Filmography_dict)  #Here we convert the dictionary into a Pandas DataFrame

In [91]:
Filmography_df

        Actor/Actress_Name                                    Url_Of_Profiles
0            John Abraham   https://en.wikipedia.org//wiki/John_Abraham_fi...
1          Kajal Aggarwal   https://en.wikipedia.org//wiki/Kajal_Aggarwal_...
2    Samantha Ruth Prabhu   https://en.wikipedia.org//wiki/Samantha_Ruth_P...
3                     Ali      https://en.wikipedia.org//wiki/Ali_filmography
4             Zeenat Aman   https://en.wikipedia.org//wiki/Zeenat_Aman_fil...
..                     ...                                                ...
182               Savitri   https://en.wikipedia.org//wiki/Savitri_filmogr...
183                Seeman   https://en.wikipedia.org//wiki/Seeman_filmography
184            Aparna Sen   https://en.wikipedia.org//wiki/Aparna_Sen_film...
185       Jisshu Sengupta   https://en.wikipedia.org//wiki/Jisshu_Sengupta...
186      Vijay Sethupathi   https://en.wikipedia.org//wiki/Vijay_Sethupath...

[187 rows x 2 columns]

In [110]:
name = input()

Samantha Ruth Prabhu

In [118]:
index = 0
for i in Filmography_df['Actor/Actress_Name']:
  if i == name:
    index
    break
  index+=1

In [119]:
index

2

In [120]:
urls = [Filmography_df['Url_Of_Profiles'][index]]

In [121]:
urls

['https://en.wikipedia.org//wiki/Samantha_Ruth_Prabhu_filmography']

In [122]:
# get_docs fuction will reterive all the tables which has class "Wikitable"
# and also get_docs function will get all the "h1" tags and replace filmography with empty space so that we will get all the Actor/Actress name.
def get_docs(films_urls):
    doc_list = []
    title_list = []
    for url in films_urls:
        # Fetch and parse url's using Bs4
        response = requests.get(url)
        response.status_code
        if response.status_code == 200 : # check the status_code 
            topic_doc = BeautifulSoup(response.text,'html.parser')
            title_tags = topic_doc.find('h1').text.replace(' filmography','')
            body_tags = topic_doc.find_all('table',{'class' : 'wikitable'})
            doc_list.append(body_tags)
            title_list.append(title_tags)
        else :
            print('Failed to load page {}'.format(url)) # if status_code is not equal to 200
    return doc_list,title_list

In [123]:
Table_urls, title_tags = get_docs(urls)

In [124]:
title_tags

['Samantha Ruth Prabhu']

In [125]:
csv = 'my_file.csv'
def DataFrames(Tables):
    dfs = []
    for i in Tables:
        df=pd.read_html(str(i))
        df[0].to_csv(csv)
        dfs.append(df)
    return df

In [127]:
# here we have the names of few actor/actress which we have taken in our data.
# we are adding the actor/actress column in the dataframe. 
dfs = DataFrames(Table_urls)
for df, title in zip(dfs, title_tags) :
    df['Actor/Actress'] = title
dfs

[    0                                              1         Actor/Actress
 0 NaN  Denotes films that have not yet been released  Samantha Ruth Prabhu,
     Year                               Title  \
 0   2010                    Ye Maaya Chesave
 1   2010            Vinnaithaandi Varuvaayaa
 2   2010                      Baana Kaathadi
 3   2010                     Moscowin Kavery
 4   2010                         Brindavanam
 5   2011                    Nadunisi Naaygal
 6   2011                             Dookudu
 7   2012                     Ekk Deewana Tha
 8   2012                                Eega
 9   2012                             Naan Ee
 10  2012           Neethaane En Ponvasantham
 11  2012           Yeto Vellipoyindhi Manasu
 12  2013  Seethamma Vakitlo Sirimalle Chettu
 13  2013                          Jabardasth
 14  2013       Theeya Velai Seiyyanum Kumaru
 15  2013                  Attarintiki Daredi
 16  2013                 Ramayya Vasthavayya
 17  2014                               Manam
 18  2014                     Autonagar Surya
 19  2014                        Alludu Seenu
 20  2014                              Anjaan
 21  2014                             Rabhasa
 22  2014                             Kaththi
 23  2015                     S/O Satyamurthy
 24  2015                    10 Endrathukulla
 25  2015                        Thanga Magan
 26  2016                   Bangalore Naatkal
 27  2016                               Theri
 28  2016                                  24
 29  2016                        Brahmotsavam
 30  2016                                A Aa
 31  2016                      Janatha Garage
 32  2017                   Raju Gari Gadhi 2
 33  2017                              Mersal
 34  2018                        Rangasthalam
 35  2018                            Mahanati
 36  2018                       Irumbu Thirai
 37  2018                           Seemaraja
 38  2018                              U Turn
 39  2018                              U Turn
 40  2019                        Super Deluxe
 41  2019                              Majili
 42  2019                            Oh! Baby
 43  2019                        Manmadhudu 2
 44  2020                               Jaanu
 45  2021                    Pushpa: The Rise
 46  2022         Kaathuvaakula Rendu Kaadhal
 47  2022                             Yashoda
 48  2023                        Shaakuntalam
 49  2023                               Kushi
 50  2023                                 NaN

                               Role(s) Language(s)  \
 0                  Jessie Thekkekuttu      Telugu
 1                             Nandini       Tamil
 2                               Priya       Tamil
 3                              Kavery       Tamil
 4                                Indu      Telugu
 5                      Asylum patient       Tamil
 6                          Prashanthi      Telugu
 7                            Samantha       Hindi
 8                               Bindu      Telugu
 9                               Bindu       Tamil
 10                   Nithya Vasudevan       Tamil
 11                  Nithya Yelavarthi      Telugu
 12                             Geetha      Telugu
 13                             Shreya      Telugu
 14                            Herself       Tamil
 15                              Sashi      Telugu
 16                            Akarsha      Telugu
 17           Krishnaveni and Priya[b]      Telugu
 18                            Sirisha      Telugu
 19                             Anjali      Telugu
 20                              Jeeva       Tamil
 21                               Indu      Telugu
 22                            Ankitha       Tamil
 23                            Sameera      Telugu
 24           Shakila and Gadgi Moi[b]       Tamil
 25                             Yamuna       Tamil
 26                      Grace Francis       Tamil
 27                             Mithra       Tamil
 28               Sathyabhama "Sathya"       Tamil
 29                        Unnamed NRI      Telugu
 30                 Anasuya Ramalingam      Telugu
 31                              Bujji      Telugu
 32                            Amrutha      Telugu
 33                               Tara       Tamil
 34                       Rama Lakshmi      Telugu
 35                        Madhuravani      Telugu
 36                     Dr. Rathi Devi       Tamil
 37  Sudhanthira Selvi (Silambu Selvi)       Tamil
 38                            Rachana       Tamil
 39                            Rachana      Telugu
 40                             Vaembu       Tamil
 41                            Sravani      Telugu
 42                   B. Swathi "Baby"      Telugu
 43               Architecture student      Telugu
 44                Janaki "Jaanu" Devi      Telugu
 45                                  —      Telugu
 46                      Khatija Begum       Tamil
 47                            Yashoda      Telugu
 48                         Shakuntala      Telugu
 49                                TBA      Telugu
 50                                NaN         NaN

                                                 Notes     Ref(s)
 0   Filmfare Award for Best Female Debut – South N...        [7]
 1                                    Cameo appearance        [8]
 2                                                 NaN        [9]
 3                                                 NaN       [10]
 4                                                 NaN       [11]
 5                                    Cameo appearance       [12]
 6   Nominated— Filmfare Award for Best Actress – T...       [13]
 7                                    Cameo appearance       [14]
 8   Bilingual film Filmfare Award for Best Actress...  [15] [16]
 9   Bilingual film Filmfare Award for Best Actress...  [15] [16]
 10            Filmfare Award for Best Actress – Tamil       [17]
 11                                                NaN       [18]
 12                                                NaN       [19]
 13                                                NaN       [20]
 14                                   Cameo appearance       [21]
 15  Nominated— Filmfare Award for Best Actress – T...       [22]
 16                                                NaN       [23]
 17  Nominated— Filmfare Award for Best Actress – T...       [24]
 18                                                NaN       [25]
 19                                                NaN       [26]
 20                                                NaN       [27]
 21                                                NaN       [28]
 22  Nominated - Filmfare Award for Best Actress – ...       [29]
 23                                                NaN       [30]
 24                                                NaN  [31] [32]
 25                                                NaN       [33]
 26                                   Cameo appearance       [34]
 27  Nominated— Filmfare Award for Best Actress – T...       [35]
 28  Nominated— Filmfare Award for Best Actress – T...       [36]
 29                                                NaN       [37]
 30           Filmfare Award for Best Actress – Telugu       [38]
 31                                                NaN       [39]
 32                                                NaN       [40]
 33                                                NaN       [41]
 34  Nominated— Filmfare Award for Best Actress – T...       [42]
 35  Nominated— Filmfare Award for Best Supporting ...       [43]
 36                                                NaN       [44]
 37                                                NaN       [45]
 38                                     Bilingual film  [46] [47]
 39                                     Bilingual film  [46] [47]
 40                                                NaN       [48]
 41                                                NaN       [49]
 42                                                NaN  [50] [51]
 43                                   Cameo appearance       [52]
 44                                                NaN       [53]
 45  Special appearance in the item number "Oo Anta...       [54]
 46                                                NaN       [55]
 47                                                NaN       [56]
 48                                    Post-production       [57]
 49                                            Filming       [58]
 50                                                NaN        NaN  ,
    Year                              Title        Artist             Notes  \
 0  2010  "Semmozhiyaana Thamizh Mozhiyaam"  A. R. Rahman  Non-album single

   .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.
 0                                               [59]                           ,
         Year                     Title                         Role Language  \
 0       2020        Bigg Boss Season 4                         Host   Telugu
 1  2020–2021                   Sam Jam                         Host   Telugu
 2       2021  The Family Man: Season 2  Rajalekshmi "Raji" Sekharan    Hindi
 3        TBA                   Citadel                          TBA    Hindi

               Network                     Notes  Ref.
 0            Star Maa  Dusshera special episode  [60]
 1                 Aha             Web talk-show  [61]
 2  Amazon Prime Video       Main role; Season 2  [62]
 3  Amazon Prime Video        Filming; Main role  [63]  ]

In [128]:
Table_contents = pd.concat(dfs) # we have concatinate all dataframes using pd.concat()
# Table_contents

In [129]:
df = Table_contents[['Title']]

In [130]:
df.head()

                      Title
0                       NaN
0          Ye Maaya Chesave
1  Vinnaithaandi Varuvaayaa
2            Baana Kaathadi
3           Moscowin Kavery